<!DOCTYPE html>
<html lang="en">
        <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <h3>Your Developer Skills:</h3>
        <% allSkills.forEach(function(skill) { %>
            <p>
                <a href="/skills/<%= skill.id %>">
                    <%= skill.name %>
                </a>
                <form method="POST" action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form">
                    <button type="submit">DELETE</button>
                </form>
            </p>
        <% }); %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>